
body {
  background-color: pink;
}

#simulation-box {
  position: relative;
  background-color: yellow;
  height: 400px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(600, 1fr);
  grid-template-rows: repeat(400, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: auto;
}